@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <img src="img/JoelHiltonHeadshot.jpg" alt="Joel Hilton Headshot">
</div>

<br/>

<div>
    <a asp-controller="Home" asp-action="AddMovies">Click here to add a movie to the collection!</a>
</div>